

<div class="">


    <div class="row">
      <div class="col-md-2" id="profile">
        <app-letnav></app-letnav>
      </div>
  
      <div class="col-md-10">
  
          <div class="card">
              <div class="card-header">
                  
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="card">
                          <div class="card-header">
                            <h5>Rate View</h5>
                          </div>
                          <div class="card-body">
                            <div>
                                <app-rateview></app-rateview>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-md-6">
                        <div class="card">
                          <div class="card-header">
                            <h5>Select pricing Operation</h5>
                          </div>
                          <div class="card-body" id="pricing-body">
                            <app-select-pricing [pricing] = "pricing"></app-select-pricing>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
       
  
      </div>
    </div>
  </div>